openapi: 3.1.0
info:
  title: Liberate Orchestration Platform Events API
  version: '1.0'
  summary: Trigger and advance Liberate workflow orchestrations over HTTP.
  description: "The Liberate Orchestration Platform exposes a small HTTP surface for driving workflow\norchestrations built on the Liberate canvas. Two operations are publicly documented on the\nLiberate developer hub:\n\n  * Starting a workflow (a \"Start Event\") by PUTting a flow `slug` plus an optional `context`\n    object to the customer's integration endpoint.\n  * Advancing a paused workflow instance by POSTing an intermediate `event` (plus the\n    `instanceId` and optional `context`) to `/xmanager/event`.\n\nEvery Liberate customer is issued their own unique endpoint URL, and every customer has both a\nproduction and a QA environment. The exact curl invocation for a given workflow is shown in the\nproperties panel of that workflow's Start Event inside the Liberate application. The server URL\nbelow is the production example published in the documentation; substitute your tenant's URL.\n\nAuthentication is a bearer token issued by Liberate.\n\nNOTE ON PROVENANCE: Liberate does not publish a machine-readable OpenAPI description. This\ndefinition was generated by the API Evangelist enrichment pipeline strictly from the request\nand response semantics documented on https://docs.liberateinc.com/. Only documented paths,\nmethods, headers, and body fields are represented here; nothing has been invented. Response\nschemas are intentionally loose because the documentation states the response \"will depend on\nthe logic and implementation of the flow itself.\"\n"
  termsOfService: https://www.liberateinc.com/legal/terms-of-service
  contact:
    name: Liberate Support
    url: https://www.liberateinc.com/request-demo
  x-provenance:
    generated: '2026-07-19'
    method: generated
    source:
    - https://docs.liberateinc.com/docs/calling-a-workflow
    - https://docs.liberateinc.com/docs/calling-a-workflow-with-context
    - https://docs.liberateinc.com/docs/intermediate-events
    - https://docs.liberateinc.com/docs/liberate-workflow-types
servers:
- url: https://integration.liberateinc.io
  description: Production example published in the documentation. Each Liberate customer is assigned their own unique endpoint URL; find yours in the Start Event curl example for your workflow.
  x-environment: production
  x-per-tenant: true
security:
- bearerAuth: []
tags:
- name: Events
  description: Advance workflow instances that are paused on an intermediate event.
paths:
  /xmanager/event:
    post:
      operationId: sendIntermediateEvent
      summary: Send an intermediate event to a running workflow instance
      description: 'Advances a workflow instance that is paused on an Intermediate Event. Intermediate events

        act as synchronization points, letting a workflow wait on an asynchronous operation, an

        external system response, or a human-in-the-loop decision before proceeding.


        The payload carries the `instanceId` of the paused workflow session, the `event` message

        describing the event or operation, and optionally a `context` object with data relevant to

        the event. Once received, the workflow continues with the following step; an optional action

        name and action transformation can reshape the delivered data into the workflow context.

        '
      tags:
      - Events
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntermediateEventRequest'
            examples:
              default:
                summary: Deliver an event to a paused instance
                value:
                  instanceId: <your instance id>
                  event: <your event message here>
                  context: {}
      responses:
        '200':
          description: The event was delivered and the workflow instance resumed.
        '401':
          description: Missing or invalid bearer token.
components:
  schemas:
    IntermediateEventRequest:
      type: object
      required:
      - instanceId
      - event
      properties:
        instanceId:
          type: string
          description: The unique Instance ID of the running workflow session, assigned when the workflow was started.
        event:
          type: string
          description: The event message describing the event or operation that has occurred.
        context:
          $ref: '#/components/schemas/Context'
    Context:
      type: object
      additionalProperties: true
      description: Free-form JSON carrying the state of the automation process. Context is initialized at the start of a workflow and written to during execution by tasks, events, decision tables, and intermediate events. Values are addressed downstream with JSONata expressions such as `$.actionName.{jsonobject}`.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'A unique bearer token obtained from Liberate, sent in the Authorization header as `Authorization: Bearer <token>`. Tokens are issued per customer and per environment (production and QA).'
externalDocs:
  description: Liberate Orchestration Platform developer hub
  url: https://docs.liberateinc.com/
